<head>
    <meta charset="utf-8" />
    <title>
        AG - Connect, Share, & Innovate
    </title>
    <meta
            name="description"
            content="Admanus Collaboration Group. Connect with like-minded individuals, share ideas, and work together on projects."
    />

    <link
            rel="icon"
            href="{{ '/images/favicon.ico' | prepend: site.baseurl }}"
            type="image/x-icon"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}"
    />
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ '/images/apple-touch-icon.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ '/images/favicons/favicon-32x32.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ '/images/favicons/favicon-16x16.png' | prepend: site.baseurl }}"
    />
    <link
            rel="manifest"
            href="{{ '/site.webmanifest' | prepend: site.baseurl }}"
    />
    <meta name="apple-mobile-web-app-title" content="Admanus Group" />
    <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
    />

    <meta name="theme-color" content="#ffffff" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Admanus Group" />
    <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="{{ '/images/favicons/android-chrome-192x192.png' | prepend: site.baseurl }}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="512x512"
            href="{{ '/images/favicons/android-chrome-512x512.png' | prepend: site.baseurl }}"
    />

    <link
            href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}"
            rel="stylesheet"
    />
    <link
            href="{{ '/css/style.css' | prepend: site.baseurl }}"
            rel="stylesheet"
    />
    <link
            href="{{ '/css/responsive.css'  | prepend: site.baseurl }}"
            rel="stylesheet"
    />
    <link
            href="{{ '/css/color-switcher-design.css' | prepend: site.baseurl }}"
            rel="stylesheet"
    />

    {% include {{ '/google_analytics.liquid' | prepend: site.baseurl }} %}

    <!-- Meta Tags for Responsive Design -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{{ page.title | default: 'AG Collaboration Groups' }}"/>
    <meta property="og:description" content="{{ page.description | default: 'Bridging individual skills and knowledge to create a dynamic and effective collaborative network.' }}"/>
    <meta property="og:image" content="https://admanusgroup.com/images/agroup.png"/>
    <meta property="og:url" content="{{ page.url | absolute_url | default: site.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Admanus Group"/>

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="twitter:domain" content="admanusgroup.com">
    <meta property="twitter:url" content="https://admanusgroup.com">
    <meta name="twitter:title" content="{{ page.title | default: 'Admanus Group' }}"/>
    <meta name="twitter:description" content="{{ page.description | default: 'Bridging individual skills and knowledge to create a dynamic and effective collaborative network.' }}"/>
    <meta name="twitter:image" content="https://admanusgroup.com/images/agroup.png"/>


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "Collaboration Groups on Admanus Group",
            "description": "Explore and join various collaboration groups on Admanus Group to connect with others and work on shared interests.",
            "url": "https://admanusgroup.com/groups",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://admanusgroup.com/groups?q={search_term_string}",
                "query-input": "required name=search_term_string"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Admanus Group",
                "url": "https://admanusgroup.com",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://www.marksgroup.net/blog/office-365-add-your-organization-logo-to-office-365/"
                }
            }
        }
    </script>
</head>